body{
    background-color:white;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.sold-page{
    font-family: 'Roboto', sans-serif;
    
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    margin-top: 100px;
    margin-left: 40px;
    
}

.product-image{
    display: block;
    margin: auto;

    width: 250px;
    height: 250px;
    

    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.product-name{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    
}

.button{
    font-size: 16px;
    line-height: 19px;
    background-color: #892EFD !important;
    display: inline-block;
}



