{% extends 'base.html' %}
{% load staticfiles %}
{% block script %}
<script src="{% static 'productlist/scripts.js' %}"></script>{% endblock %}

{% block content %}
<div class="containter">
	<div class="row">
		<div class="col-sm"><h1 class="mt-3 ml-3">Product List</h1></div>
		<div class="col-sm"><h3>Total Inventory</h3> <h3 id="totalmakanan"></h3></div>
	</div>
	<table class="table table-striped mx-1">
		<thead>
			<tr>
				<th scope="col">Nama Produk</th>
				<th scope="col">bahan</th>
				<th scope="col">Jumlah Dibutuhkan</th>
				<th scope="col">Jumlah Di gudang</th>
				<th scope="col">informasi</th>
			</tr>
		</thead>
		<tbody>
			{% for i in jml %}
			<tr>
				{% for x in i%}
				<th scope="col">{{ x }}</th>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}