{% extends 'base.html' %}

{% load staticfiles %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}" media="screen">
{% endblock %}

{% block script %}<script src="{% static 'terjual/scripts.js' %}"></script>{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm"><h1 class="m-5">Products Sold</h1> </div>
        <div class="col-sm"><h3>Total Jenis Makanan di Jual</h3> <h3 id="totalmakanan"></h3></div>
    </div>
    
    {% for i in bahan %}
    <div class="row">
        <div class="col-sm">
            <h3>{{ i.makanan.makanan}}</h3>
        </div>
        <div class="col-sm">
            <h3>terjual : {{ i.jumlah_terjual }}</h3>
        </div>
        <div class="col-sm">
            <form action="/sold/{{ i.id }}/" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">jumlah</span>
                    </div>
                    {{ form.makanan }}
                    <button type="submit" class="btn btn-primary">add</button>
            </form>
        </div>
    </div>
    {% endfor %}
    
</div>

{% endblock %}
