{% extends 'base.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/inventory.css' %}">

<div class="container">
    <div class="row">
        <div class="col-sm"><h1 id="inventory">My Inventory</h1></div>
        <div class="col-sm"><h3>Total Inventory</h3> <h3 id="totalmakanan"></h3></div>
    </div>
    
    {% for i in bahan %}
    <div class="isi">
        <div class="row">
            <div class="col-sm-1">
                <h3>{{i.id}}</h3>
            </div>
            <div class="col-sm">
                <h3>{{ i.namabahan.bahan }} : {{ i.namaproduk.makanan }}</h3>
            </div>
            <div class="col-sm">
                <h3>{{ i.jumlah }}</h3>
            </div>
            <div class="col-sm" id="frmnow">
                <form action="/{{ i.id }}/" method="POST" >
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">jumlah</span>
                        </div>
                        {{ form.makanan }}
                        <button type="submit" class="btn btn-primary" clicked="tambah()">add</button>
                </form>
            </div>
        </div>
    </div>

</div>

{% endfor %}

{% endblock %}

{% block script %}
<script src="{% static 'myinventory/scripts.js' %}"></script>{% endblock %}